@tailwind base;
@tailwind components;
@tailwind utilities;


.Redshadow{
  box-shadow: 0px 0px 10px 0px #ff0054;
}

.Blackshadow{
  box-shadow: 0px 0px 10px 0px #000000;
}

.Whiteshadow{
  box-shadow: 0px 0px 10px 0px #ffffff;
}

*:focus {
    outline: none;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}